*{
    font-family: cursive;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    flex-direction: row;
    
}
li{
    list-style: none;
    padding: 3px 20px;
    color: white;
    
}
a{
    text-decoration: none;
    color: white;
    
}
body::before{
    height: 140%;
    opacity: 0.8;
    z-index: -1;
    content: "";
    width: 100%;
    top: 0;
    position: absolute;
    background-image: url('/static/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    background-color:black;
    padding: 12px 12px ;
    color:white;
    font-weight: bold;
    
}
.container{
    margin: 12px auto;
   
    max-width: 70%;
}
h1{
    text-align: center;
}
input,textarea{
    display: block;
    padding: 3px;
    margin: 15px auto;
    width: 84%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    display: block;
    margin: 4px auto;
    padding: 5px 12px;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border:2px solid black;
    border-radius: 9px;
    cursor: pointer;
}